@font-face {
    font-family: "ModernFont";
    src: url("../webfonts/MOODERN.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ModernSans-Light";
    src: url("../webfonts/ModernSans-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.standard-button {
    border: none;
    background-color: #4f4b45;
    color: white;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, background-color 0.2s ease-in-out;
}

.standard-button:enabled:hover {
    transform: scale(1.01);
    background-color: #615c55;
}

.standard-button:disabled {
    background-color: #6f6c69;
    cursor: not-allowed;
    opacity: 0.75;
}