<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<script th:fragment="fresh-reload">
    window.addEventListener("pageshow", function (event) {
        var navType = performance.getEntriesByType("navigation")[0]?.type ?? "";

        if (event.persisted || navType === "back_forward") {
            window.location.reload();
        }
    });
</script>

<script th:fragment="global" th:inline="javascript">
    setInterval(() => {
        fetch("/keep-session-alive").catch(() => {});
    }, 15*60*1000);
</script>

</body>
</html>